<div id="o2-footer">
        <div class="grid-inner">
        	<div id="o2-footer-secondary">
                <ul>
                    <li> 
                        <a manual_cm_re="Footerlink-_-Terms and conditions-_-na" href="http://www.o2.co.uk/termsandconditions">Terms &amp; Conditions</a> |
                    </li>
                    <li>
                        <a manual_cm_re="Footerlink-_-Privacy policy-_-na" href="http://www.o2.co.uk/termsandconditions/privacy-policy">Privacy policy</a> |
                    </li>
                    <li>
                        <a manual_cm_re="Footerlink-_-Cookie policy-_-na" href="http://www.o2.co.uk/cookie-policy">Cookie policy</a> |
                    </li>
                    <li>
                        <a manual_cm_re="Footerlink-_-Access for all-_-na" href="http://www.o2.co.uk/access-for-all">Access for all</a>
                    </li>
                </ul>
                <div class="telefonica-links">
                    <p>
                        © 2016 Telefónica UK Limited.
                    </p>
                    <a manual_cm_re="Footerlink-_-Telefonica-_-na" href="http://www.telefonica.com" class="telefonica-logo" target="_blank">Telefonica</a>
                </div>
                <div class="telefonica-footerLegal">
                    <p>
                        In relation to consumer credit, Telefónica UK Limited is authorised and regulated by the Financial Conduct Authority
                    </p>
                </div>
            </div>
        </div>
</div>