<div id="header-consumer" class="header"> 
     <div class="toolbar">
        <div class="grid-inner"> 
       <form class="header-tool-search" action="//www.o2.co.uk/search/results"> 
        <label for="search_field">Search</label> 
        <input type="text" placeholder="Search" name="query" id="search_field"> 
        <input type="hidden" name="page" value="1"> 
        <input type="hidden" sname="pageSize" value="10"> 
        <input type="hidden" name="selected_types" value="html"> 
        <input type="hidden" name="selected_types" value="Video"> 
        <input type="hidden" name="selected_categories" value="shop"> 
        <input type="hidden" name="selected_categories" value="help"> 
        <input type="hidden" name="selected_categories" value="myo2"> 
        <input type="hidden" name="selected_categories" value="perks"> 
        <input type="hidden" name="selected_categories" value="business"> 
        <input type="hidden" name="selected_categories" value="enterprise"> 
        <input type="hidden" name="selected_categories" value="enterpriseInsights"> 
        <input type="hidden" name="selected_categories" value="apps"> 
        <input type="hidden" name="selected_categories" value="connectivity"> 
        <input type="hidden" name="selected_categories" value="other"> 
        <input type="submit" value=""> 
       </form> 
       <ul class="tools" style="display: block;"> 
        <li id="header-tool-webchat"> <a href="" manual_cm_re="header-_-Chat-_-na">Chat</a> </li> 
        <li id="header-tool-storelocator"> <a href="http://www.preview1s.o2.co.uk/storelocator" manual_cm_re="header-_-Store locator-_-na">Store locator</a> </li> 
        <li class="hideWhenSignedIn pipe"> | </li> 
        <li id="header-tool-signin"> 
         <div class="hideWhenSignedOut welcome" style="display: none;">
           Hi 
          <span class="username"></span> 
         </div> 
         <div class="hideWhenSignedIn"> 
          <a class="signInLink" href="https://accounts.o2.co.uk/signin" title="Sign In" manual_cm_re="header-_-Sign In-_-na">Sign in</a> 
         </div> 
         <div class="hideWhenSignedOut" style="display: none;"> 
          <span>|</span> 
          <a class="signOutLink" href="https://identity.o2.co.uk/logout" title="Sign out of your account" manual_cm_re="header-_-Sign out-_-na">Sign out</a>&nbsp; 
         </div> 
         <div class="hideWhenSignedIn">
           or 
          <a class="registerLink" href="https://accounts.o2.co.uk/register" title="Register" manual_cm_re="header-_-Register-_-na">Register</a> 
         </div> </li> 
       </ul> 
       <ul class="site-switch"> 
        <li class="current"> Personal </li> 
        <li> <a href="http://www.preview1s.o2.co.uk/business/business_enterprise" manual_cm_re="header-_-Business-_-na">Business</a> </li> 
       </ul> 
      </div>
     </div>
  </div>


  <div id="header-consumer" class="header"> 
      <div class="nav-primary"> 
        <div class="grid-inner"> 
        <div class="logo o2">
        <a href="http://www.preview1s.o2.co.uk/" manual_cm_re="header-_-O2 Logo-_-na"> <img src="//static.preview1s.o2.co.uk/shared/img/logo-o2.svg" alt="O2"> </a>
      </div>
      <div class="logo telefonica"> 
         <h1>O2 Web Toolkit</h1> 
          
        </div>
      </div>
      </div>

  </div>